p {
	margin: 0;
}

code {
	display: inline-block;
	margin: 40px 0 0 0;
	padding: 5px 10px;
	background: #F6F6F6;
	border-radius: 5px;

	font-size: 14px;
	line-height: 1.6;
}

code .component-name {
	font-weight: bold;
}
